<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- js 문법 -->
    <!-- <% if(true){ %>
        <div> ejs working</div>
        <% } else { %>
            <div> ejs not working</div>
    <% }%> -->

    <!-- 변수출력 (앞에 = 출력) -->
    <%= data %>

    <!-- include로 불러오기 -->
    <% include ./layout/navbar.ejs %>


    <div>ejs template</div>
</body>

</html>